@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f002b;
  --foreground: #fff;
  --secondary: #36173d;
  --primary: #e4229c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
